<html lang="en">
<head>
  <%- include('parciales/head'); %>
    <title>Emisor</title>
</head>

<body>
  <header>
    <%- include('parciales/navbar'); %>
  </header>

  <div class="container">
    <h1>Emisor</h1>
    
    <hr>
     <div class="row">
      <div class="col-sm-4">
        <label for="razonSocial" class="form-label">Razon Social</label>
        <input class="form-control" id="razonSocial" value="<%- razonSocial %>">
        </input>
      </div>
      
      <div class="col-sm-4">
        <label for="rfc" class="form-label">RFC</label>
        <input class="form-control" id="rfc" value="<%- rfc %>">
        </select>
      </div>

       <div class="col-sm-4">
        <label for="regimenFiscal" class="form-label">Regimen Fiscal</label>
        <select class="form-select" id="regimenFiscal">
        </select>
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-4">
        <label for="codigoPostal" class="form-label">Codigo Postal</label>
        <input class="form-control" id="codigoPostal" value="<%- codigoPostal %>">
        </select>
      </div>
    </div>
<hr>
    <div class="row">
      <div class="col-sm-6">
        <label for="inpCertificado" class="form-label">Certificado</label>
        <input class="form-control" id="inpCertificado" disabled value="<%- certificado %>">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label for="inpLlavePrivada" class="form-label">Llave Privada</label>
        <input class="form-control" id="inpLlavePrivada" disabled value="<%- llavePrivada %>">
      </div>
    </div>
<br>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarCertificado">Agregar Certificado</button>
    
    <hr>
    <br>
    <button class="btn btn-primary float-end" id="guardar">Guardar</button>

    
 <!-- Modal -->
<div class="modal fade" id="modalAgregarCertificado" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form id="formular" enctype="multipart/form-data">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Certificado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <label for="certificado" class="form-label">Certificado</label>
          <input class="form-control" type="file" id="certificado" required name="cert" accept=".cer">
          <label for="llavePrivada" class="form-label">Llave Privada</label>
          <input class="form-control" type="file" id="llavePrivada" required name="llav" accept=".key">
          <label for="constraseña" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="constraseña" required name="contra">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" id="guardarCertificado">Guardar</button>
      </div>
    </div>
  </div>
  </form>
</div>
    <script>

function guardar() {
            $.ajax('/guardarEmisor', {
            	type: 'POST',
            	contentType: "application/json",
            	data: JSON.stringify({ "emisor": $("#razonSocial").val(),
"rfc": $("#rfc").val(),
"regimenFiscal": $("#regimenFiscal").val(),
"codigoPostal": $("#codigoPostal").val()}),
            	dataType: "text",
            	success: function (respuesta) {
                if (respuesta == "ok") {
                  Swal.fire(
                    'Good job!',
                    'You clicked the button!',
                    'success'
                  )
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
              console.log(errorMessage);
                //$('p').append('Error' + errorMessage);
            }
        });
        }

      $("#guardar").on("click", function () {
        guardar();
      });

      $("#formular").submit(function (e) {
    e.preventDefault();
    var formData = new FormData(this);
 
    $.ajax({
        type: "POST",
        url: "/subirCertificado",
        data: formData,
        processData: false,
        contentType: false,
        success: function(respuesta){
            if (respuesta == "ok") {
                  Swal.fire(
                    'Good job!',
                    'You clicked the button!',
                    'success'
                  )
                  $("#modalAgregarCertificado").modal('toggle');
                
                }
        },
        error: function (e) {
            console.log("some error", e);
        }
    });

});
      $.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_RegimenFiscal.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.descripcion+'</option>';
          });

         $('#regimenFiscal').append(toAppend);
      });
    </script>
</body>
</html>