<html lang="en">

<head>
  <%- include('parciales/head'); %>
    <title>Facturacion</title>
</head>

<body>
  <header>
    <%- include('parciales/navbar'); %>
  </header>

  <div class="container">
    <h1>Factura Electronica</h1>
    <hr>
    <div class="alert alert-dark" role="alert"><h3>Comprobante</h3></div>
    <div class="row">
      <div class="col-sm-12" data-bs-toggle="collapse" data-bs-target="#collapseEmisor" aria-expanded="false" aria-controls="collapseEmisor">
        <div class="alert alert-dark" role="alert"><h3>Emisor</h3> <h5><%- razonSocial %></h5></div>
      </div>
      
      <div class="collapse" id="collapseEmisor">
        
        
        <strong>RFC:</strong> <%- rfc %>
        <br>
        <strong>Regimen Fiscal:</strong> <%- regimenFiscal %>
        <br>
        <strong>Codigo Postal:</strong> <%- codigoPostal %>
        <br>
      </div>
    </div>

<hr>
    <div class="row">
    <div class="col-sm-12" data-bs-toggle="collapse" data-bs-target="#collapseCliente" aria-expanded="false" aria-controls="collapseCliente">
        <div class="alert alert-dark" role="alert"><h3>Receptor</h3> <h5 id="nombreCliente"></h5></div>
      </div>
      
      <div class="collapse" id="collapseCliente">
     
        
          <strong>RFC:</strong> <text id="rfcCliente"></text>
        <br>
        <strong>Regimen Fiscal:</strong> <text id="regimenFiscalCliente"></text>
        <br>
        <strong>Codigo Postal:</strong><text id="codigoPostalCliente"></text>
        <br>
          <hr>
        <select class="form-select" id="clientes">
          <%- clientes %>
        </select>
        
      </div>
 </div>
          
<hr>
    <div class="row">
    <div class="col-sm-12" data-bs-toggle="collapse" data-bs-target="#collapseConceptos" aria-expanded="false" aria-controls="collapseConceptos">
      <div class="alert alert-dark" role="alert">
        <h3 >Conceptos</h3>
      </div>
      </div>
      <div class="collapse" id="collapseConceptos">
        <table class="table table-striped" id="tablaConceptos">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>RFC</th>
              </tr>
            </thead>
              
            <tbody>
              <tr>
                <td>Nombre</td>
                <td>RFC</td>
              </tr>
          </tbody>
        </table>
        <hr>
        <button class="btn btn-primary" id="agregarConcepto">Agregar</button>
      </div>
 </div>
    <br>
    <button class="btn btn-primary" id="timbrar">Timbrar</button>
    <script> 

      function timbrar() {
            $.ajax('/timbrar', {
            	type: 'POST',
            	contentType: "application/json",
            	data: "",
            	dataType: "json",
            	success: function (respuesta) {
                console.log(respuesta[1]);
                if (respuesta[0] == "ok") {
                  Swal.fire(
                    'Good job!',
                    'You clicked the button!',
                    'success'
                  )
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
              console.log(errorMessage);
                //$('p').append('Error' + errorMessage);
            }
        });
        }
      
      $("#timbrar").on("click", function () {
        timbrar();
      });



      
  $.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_TipoDeComprobante.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.descripcion+'</option>';
          });

         $('#tipoDeComprobante').append(toAppend);
      });


$.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_FormaPago.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.id + " " +o.descripcion+'</option>';
          });

         $('#formaDePago').append(toAppend);
      });

  $.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_MetodoPago.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.id + " " +o.descripcion+'</option>';
          });

         $('#metodoDePago').append(toAppend);
      });


      $.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_Moneda.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.id + " " +o.descripcion+'</option>';
          });

         $('#moneda').append(toAppend);
      });

      $("#clientes").on("change", function() {
        //console.log(this);
        $("#nombreCliente").text($("#clientes option:selected").text());
        $("#rfcCliente").text($("#clientes option:selected").attr("rfc"));
        $("#regimenFiscalCliente").text($("#clientes option:selected").attr("regimenFiscal"));
        $("#codigoPostalCliente").text($("#clientes option:selected").attr("codigoPostal"));
      });

      $("#agregarConcepto").on("click", function () {
        $("#tablaConceptos tbody").append("<tr><td>aaa</td><td>bbb</td></tr>");
      });
    </script>
</body>

</html>